doctype html
html
    head
        title= title
        block css
            link(rel='stylesheet', href='/stylesheets/style.css')
        block js
            script(src='/js/jquery-2.1.4.js')
            script(src='/js/socket.io-1.3.5.js')
            script(src='/core.js')
            script(src='/js/ws.js')
    body
        block body
            block content