extends layout_core

block body
    block header
        #header

    #main-container.main-container
        .left-column
            .column-container

        .center-column
            .column-container
                #content
                    block content

        .right-column
            .column-container

    block footer
        #footer