doctype html
html
    head
        title= title
        block css
            link(rel='stylesheet', href='/stylesheets/style.css')
        block js
    body
        block body
            block content