extends ../layout

append js
    script(src='/js/sudoku/control/keyboard.js')
    script(src='/js/sudoku/control/numpad.js')
    script(src='/js/sudoku/cell.js')
    script(src='/js/sudoku/cell/coords.js')
    script(src='/js/sudoku/cell/group.js')
    script(src='/js/sudoku/cell/square.js')
    script(src='/js/sudoku/cell/row.js')
    script(src='/js/sudoku/cell/col.js')
    script(src='/js/sudoku/board.js')
    script(src='/js/sudoku/history.js')
    script(src='/js/sudoku/sudoku.js')
    script(src='/js/sudoku/init.js')

block content
    #sudoku
        include sudoku/board-container
