- divId = 'game-sudoku-' + gameSudoku.getHash()

.sudoku-table(id='#{divId}', data-hash=gameSudoku.getHash(), ondragstart='return false;', ondrop='return false;')

    include board

    .sudoku-game-info
        .time-container
            | Time:
            span.time
        .difficulty-container
            | Difficulty:
            span.difficulty